### Declaring Variables

In [170]:
var1=2.0
var1

2.0

In [171]:
var2=5
var2

5

In [172]:
var3=True
var3

True

In [173]:
var4="Data Analytics"
var4

'Data Analytics'

In [174]:
print("The value of variable 1 is=", var1)
print("The value of variable 2 is=", var2)
print("The value of variable 3 is=", var3)
print("The value of variable 4 is=", var4)

The value of variable 1 is= 2.0
The value of variable 2 is= 5
The value of variable 3 is= True
The value of variable 4 is= Data Analytics

In [175]:
type(var1)

float

In [176]:
type(var2)

int

In [177]:
type(var3)

bool

In [178]:
type(var4)

str

### Conditional Statements

In [179]:
if var1>1:
    print("Bigger than 1")

Bigger than 1

In [180]:
x=10
y=12
if x>y:
    print("x>y")
elif x<y:
    print("x<y")
else:
    print("x=y")

x<y

### Generating a sequence of numbers

In [181]:
numbers=range(1,6)
numbers

range(1, 6)

In [182]:
for i in numbers:
    print(i,end=' ')

1 2 3 4 5

### While loop

In [183]:
i=1
while i<5:
    print(i)
    i=i+1
   
print("Done")

1
2
3
4
Done

### Functions

In [184]:
def sum(x,y):
    return(x+y)

In [185]:
sum(3,2)

5

### Working with lists

In [186]:
emptyList=[]

In [187]:
emptyList

[]

In [188]:
batsmen=['Rohit','Dhawan',"Kohli",'Rahane',"Rayudu",'Dhoni']

In [189]:
batsmen[0]

'Rohit'

In [190]:
print(batsmen)

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [191]:
print(batsmen[2:6])

['Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [192]:
batsmen[-1]

'Dhoni'

In [193]:
batsmen[-6]

'Rohit'

In [194]:
len(batsmen)

6

In [195]:
bowlers=['Bumrah', 'Shami','Bhuvi', 'Kuldeep','Chahal']

In [196]:
all_players=batsmen+bowlers

In [197]:
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [198]:
'Bumrah' in bowlers

True

In [199]:
'Bumrah' in batsmen

False

In [200]:
all_players.index('Dhoni')

5

In [201]:
all_players.reverse()

In [202]:
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

### Tuples

In [203]:
odidebut=("Kohli",2008)

In [204]:
len(odidebut)

2

In [205]:
odidebut[0]

'Kohli'

In [206]:
odidebut[1]

2008

In [207]:
odidebut[1]=2009

TypeError: 'tuple' object does not support item assignment

In [208]:
players=tuple(all_players)
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

In [209]:
set={1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [210]:
set={1,2,3,4,5,6}

In [211]:
set

{1, 2, 3, 4, 5, 6}

In [212]:
set={1,2,2,3,4,5}

In [213]:
set

{1, 2, 3, 4, 5}

In [214]:
wc2011={"Dhoni", "Sehwag","Tendulkar","Gambhir", "Kohli","Raina", "Yuvraj", "Yusuf"}
wc2015={"Dhoni", "Dhawan","Rohit","Rahane", "Kohli","Raina", "Rayudu", "Jadeja"}

In [215]:
wc2011.union(wc2015)

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [216]:
wc2011.intersection(wc2015)

{'Dhoni', 'Kohli', 'Raina'}

In [217]:
wc2011.difference(wc2015)

{'Gambhir', 'Sehwag', 'Tendulkar', 'Yusuf', 'Yuvraj'}

In [218]:
wc2015.intersection(wc2011)

{'Dhoni', 'Kohli', 'Raina'}

In [219]:
WcWinners={1975:"West Indies",
           1979:"West Indies",
           1983:"India",
           1987:"Australia",
           1991:"PAkistan",
           1996:"Sri Lanka",
           1999:"Australia",
           2003:"Australia",
           2007:"Australia",
           2011:"India"}

In [220]:
WcWinners[1983]

'India'

In [221]:
ids=WcWinners.values()
ids

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'PAkistan', 'Sri Lanka', 'Australia', 'Australia', 'Australia', 'India'])

### Functional Programming

In [3]:
intList=[1,2,3,4,5,6,7,8,9]

In [4]:
squareList=[]
for x in intList:
    squareList.append(pow(x,2))
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
def sum(x,y):
    return(x+y)

In [6]:
sum(9,5)

14

In [7]:
def square_me(x):
    return x*x

In [8]:
square=map(square_me, intList)
list(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
squareList=map(lambda x: x*x, intList)

l1=list(squareList)

In [14]:
s1=set(l1)

In [15]:
s1

{1, 4, 9, 16, 25, 36, 49, 64, 81}

### Packages

In [16]:
import math
math.sqrt(16)

4.0

In [19]:
from random import sample
sample(range(0,11),3)

[2, 3, 9]

In [20]:
import random
randomList=random.sample(range(0,100),20)

In [21]:
randomList

[87, 58, 41, 0, 46, 82, 66, 15, 47, 44, 31, 52, 73, 74, 57, 92, 18, 77, 2, 64]